.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /*adding some space between the color-box and the button*/
    margin-top: 15%;
}
#color-box{
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
}
#change-color-btn{
    padding: 10px 20px;
    background-color: rgb(44, 45, 48);
    border: 3px solid rgba(215, 215, 215, 0.852);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}